* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --PRIMARY-COLOR-CYAN: hsl(179, 62%, 43%);
  --LIGHTER-CYAN: rgb(67, 196, 193);
  --PRIMARY-COLOR-BRIGHT-YELLOW: hsl(71, 73%, 54%);
  --SECONRDARY-COLOR-BRIGHT-YELLOW: hsl(71, 68%, 48%);
  --NEUTRAL-LIGHT-GRAY: hsl(204, 43%, 93%);
  --NEUTRAL-GRAYISH-BLUE: hsl(218, 22%, 67%);
}

html {
  font-family: "Karla", Arial, Helvetica, sans-serif, sans-serif;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  /* max width and min width made it responsive and able to work with flexbox */
  max-width: 700px;
  min-width: 370px;
  /* border-radius wasn't working, so I added overflow-hidden; */
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 3px 3px 8px gray;
  margin: 50px 10px 50px 10px;
}

.join-top {
  background-color: white;
}

.join-top {
  padding: 30px 95px 30px 30px;
}

.join-top h2 {
  color: var(--PRIMARY-COLOR-CYAN);
  margin-bottom: 20px;
}

.join-top h3 {
  color: var(--PRIMARY-COLOR-BRIGHT-YELLOW);
  margin-bottom: 10px;
}

.join-top p {
  color: rgb(161, 161, 161);
}

.bottom-container {
  display: flex;
  flex-wrap: wrap; 
  /* don't need flex wrap for the children containers, only for the parent. */
}

.left {
  background-color: var(--PRIMARY-COLOR-CYAN);
  flex-grow: 1;
  padding: 30px;
}

.left h3 {
  margin-bottom: 15px;
}

.price {
  font-size: 2rem;
  font-weight: 700;
}

.per-month {
  color: var(--LIGHTER-CYAN);
  margin-left: 10px;
  font-weight: 700;
}

.left p {
margin-top: 10px;
}

button {
  border: 0;
  background-color: var(--PRIMARY-COLOR-BRIGHT-YELLOW);
  color: var(--NEUTRAL-LIGHT-GRAY);
  font-size: 1rem;
  font-weight: 700;
  padding: 12px 90px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 11px 11px 15px -10px rgba(109, 99, 109, 0.73);
  cursor: pointer;
}

button:hover {
  background-color: var(--SECONRDARY-COLOR-BRIGHT-YELLOW);
}

.right {
  background-color: var(--LIGHTER-CYAN);
  flex-grow: 1;
  padding: 30px;
}

.left h3, .right h3, .price, .left p, .right ul{
  color: var(--NEUTRAL-LIGHT-GRAY);
}

ul {
  list-style: none;
  margin-top: 15px;
}